# your access token, should you choose to use one
# https://docs.ntfy.sh/publish/?h=access+token#access-tokens
export NTFY_TOKEN="tk_foobar"

# your topics; feel free to adjust these as needed for use in scripts
# https://docs.ntfy.sh/publish/#picking-a-topic
export NTFY_BACKUPS_TOPIC="server-backups-<suffix>"
export NTFY_WATCHTOWER_TOPIC="watchtower-<suffix>"
export NTFY_SERVER_HEALTH_TOPIC="server-health-<suffix>"
